<template>
    <v-card>
        <v-toolbar dense color="primary">
            <v-toolbar-title>Users</v-toolbar-title>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="items"
        >
            <template #item.index="{ item }">
                {{ getIndex(item) + 1 }}
            </template>
            <template #item.__actions>
                <v-btn icon>
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { User } from "@/entity/User";
import { DataTableHeader } from "vuetify";

@Component
export default class UsersTable extends Vue {

    private get headers(): DataTableHeader[] {
        return [
            {
                value: 'index',
                text: '#'
            },
            {
                value: 'email',
                text: 'Email'
            },
            {
                value: '__actions',
                text: '',
                align: 'end'
            }
        ]
    }

    private get items(): User[] {
        return [
            {
                id: 'test',
                email: 'same'
            }
        ];
    }

    private getIndex(item: User) {
        return this.items.indexOf(item);
    }
}
</script>

<style lang="scss">
</style>
