<template>
    <v-card>
        <v-toolbar dense color="primary">
            <v-toolbar-title>Lights</v-toolbar-title>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="items"
        >
            <template #item.index="{ item }">
                {{ getIndex(item) + 1 }}
            </template>
            <template #item.isOn="{ item }">
                {{ item.enable ? 'On' : 'Off' }}
            </template>
            <template #item.__actions>
                <v-btn class="mx-1" small color="error">
                    Off
                </v-btn>
                <v-btn class="mx-1" small color="primary">
                    On
                </v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { User } from "@/entity/User";
import { DataTableHeader } from "vuetify";
import { Light } from "@/entity/Light";

@Component
export default class UsersTable extends Vue {

    private get headers(): DataTableHeader[] {
        return [
            {
                value: 'index',
                text: '#'
            },
            {
                value: 'serialNumber',
                text: 'Serial Number'
            },
            {
                value: 'isOn',
                text: 'Status'
            },
            {
                value: '__actions',
                text: '',
                align: 'end'
            }
        ]
    }

    private get items(): Light[] {
        return [
            {
                id: 'test',
                enable: false,
                serialNumber: '1'
            },
            {
                id: 'test',
                enable: true,
                serialNumber: '2'
            },
        ];
    }

    private getIndex(item: Light) {
        return this.items.indexOf(item);
    }
}
</script>

<style lang="scss">
</style>
