<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <LightsTable />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import LightsTable from "@/components/lights/LightsTable.vue";

@Component({
    components: {
        LightsTable
    }
})
export default class LightsView extends Vue {
}
</script>

<style lang="scss">
</style>
