<template>
    <v-app>
        <v-main>
            <v-container fluid style="height: 100%">
                <v-row style="height: 100%">
                    <v-col cols="12">
                        <v-row justify="center" style="height: 100%" align="center">
                            <LoginForm />
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts">
    import Vue from "vue";
    import { Component } from "vue-property-decorator";
    import LoginForm from "@/components/auth/LoginForm.vue";

    @Component({
        components: {
            LoginForm
        }
    })
    export default class LoginView extends Vue {
    }
</script>

<style lang="scss">
</style>
