<template>
    <v-container fluid>
        <v-row dense>
            <v-col cols="12">
                <RoomsTable />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
    import { Component } from "vue-property-decorator";
import RoomsTable from "@/components/rooms/RoomsTable.vue";

@Component({
    components: {
        RoomsTable
    }
})
export default class RoomsView extends Vue {
}
</script>

<style lang="scss">
</style>
