<template>
    <v-app>
        <component :is="component"></component>
    </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import LoginForm from "@/components/auth/LoginForm.vue";

@Component({
    components: {
        LoginForm
    }
})
export default class Sandbox extends Vue {
    private get component() {
        return this.$route.params.component;
    }
}
</script>

<style lang="scss">
</style>
