<template>
    <v-container fluid>
        <v-row dense>
            <v-col cols="12">
                <SubscriptionsTable />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import SubscriptionsTable from '@/components/subscriptions/SubscriptionsTable.vue';

@Component({
    components: {
        SubscriptionsTable
    }
})
export default class SubscriptionsView extends Vue {
}
</script>

<style lang="scss">
</style>
