<template>
    <users-table class="mx-3 my-3" />
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import UsersTable from "@/components/users/UsersTable.vue";

@Component({
    components: {
        UsersTable
    }
})
export default class UsersView extends Vue {
}
</script>

<style lang="scss">
</style>
