<template>
    <v-card>
        <v-toolbar dense color="primary">
            <v-toolbar-title>Rooms</v-toolbar-title>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="items"
        >
            <template #item.index="{ item }">
                {{ getIndex(item) + 1 }}
            </template>
            <template #item.__actions>
                <v-btn icon>
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { User } from "@/entity/User";
import { DataTableHeader } from "vuetify";
import { Room } from "@/entity/Room";

@Component
export default class RoomsTable extends Vue {

    private get headers(): DataTableHeader[] {
        return [
            {
                value: 'index',
                text: '#'
            },
            {
                value: 'title',
                text: 'Title'
            },
            {
                value: 'name',
                text: 'Name'
            },
            {
                value: '__actions',
                text: '',
                align: 'end'
            }
        ]
    }

    private get items(): Room[] {
        return [
            {
                id: 'test',
                subscription: {
                    activationDate: new Date(),
                    active: false,
                    id: 's'
                },
                users: [],
                lights: [],
                title: 'Room',
                name: 'Room 1'
            }
        ];
    }

    private getIndex(item: Room) {
        return this.items.indexOf(item);
    }
}
</script>

<style lang="scss">
</style>
