<template>
    <v-card>
        <v-toolbar dense color="primary">
            <v-toolbar-title>Subscriptions</v-toolbar-title>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="items"
        >
            <template #item.index="{ item }">
                {{ getIndex(item) + 1 }}
            </template>
            <template #item.activationDate="{ item }">
                {{ item.activationDate.toLocaleString() }}
            </template>
            <template #item.__actions>
                <v-btn icon>
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { User } from "@/entity/User";
import { DataTableHeader } from "vuetify";
import { Room } from "@/entity/Room";
import { Subscription } from "@/entity/Subscription";

@Component
export default class SubscriptionsTable extends Vue {

    private get headers(): DataTableHeader[] {
        return [
            {
                value: 'index',
                text: '#'
            },
            {
                value: 'active',
                text: 'Active'
            },
            {
                value: 'activationDate',
                text: 'Activation Date',
            },
            {
                value: '__actions',
                text: '',
                align: 'end'
            }
        ]
    }

    private get items(): Subscription[] {
        return [
            {
                id: 'test',
                active: false,
                activationDate: new Date()
            }
        ];
    }

    private getIndex(item: Subscription) {
        return this.items.indexOf(item);
    }
}
</script>

<style lang="scss">
</style>
