<template>
    <v-card max-width="550">
        <v-toolbar dense color="primary">
            <v-toolbar-title>Вход</v-toolbar-title>
        </v-toolbar>
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <v-text-field
                        label="Email"
                        hide-details
                    />
                </v-col>
                <v-col cols="12">
                    <v-text-field
                        label="Пароль"
                        type="password"
                        hide-details
                    />
                </v-col>
                <v-col cols="12">
                    <v-btn
                        width="100%"
                        color="primary"
                        v-text="'Войти'"
                        :to="{ name: 'Lights' }"
                    />
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class LoginForm extends Vue {
}
</script>

<style lang="scss">
</style>
