<template>
    <v-app>
        <v-navigation-drawer app clipped mobile-breakpoint="0" :mini-variant="show">
            <v-list
                dense
                nav
            >
                <v-list-item
                    link
                    v-for="(item, i) in items"
                    :key="i"
                    :to="item.to"
                    exact
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app clipped-left color="primary" dense max-height="50px">
            <v-app-bar-nav-icon @click="show = !show"></v-app-bar-nav-icon>
            <v-toolbar-title>Lumus | {{ title }}</v-toolbar-title>
            <v-spacer />
            <v-switch
                label="Dark theme"
                hide-details
                color="info"
                v-model="$vuetify.theme.dark"
            />
            <v-btn icon :to="{ name: 'Login' }">
                <v-icon>mdi-logout</v-icon>
            </v-btn>
        </v-app-bar>

        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class Application extends Vue {

    private show = false;

    public get items() {
        return  [
            {
                title: 'Users',
                icon: 'mdi-account-group',
                to: { name: 'Users' },
            },
            {
                title: 'Lights',
                icon: 'mdi-string-lights',
                to: { name: 'Lights' },
            },
            {
                title: 'Subscriptions',
                icon: 'mdi-check-decagram',
                to: { name: 'Subscriptions' },
            },
            {
                title: 'Rooms',
                icon: 'mdi-office-building',
                to: { name: 'Rooms' },
            },
        ]
    }
    public get title() {
        return this.$route.meta.title || "";
    }
}
</script>

<style lang="scss">
</style>
